@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body{
  background: #1e4efe;
}

.nav{
  background: black;
  display: flex;
  justify-content: space-between;
}

.nav-list{
  margin-right: 45px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-top: 5px;
}
.nav-list-item{
  color: #fcfcfc;
  padding:10px;
  font-family: 'Bungee', cursive;
}

.nav-list-a{
  font-family: 'Bungee', cursive;
  color: #fcfcfc;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.nav-list-a:hover{
  color: #00fec4;
}

.embed {
  margin: 45px;
  background: #fcfcfc;
  border-radius: 20px;
  border: 2px solid black;  
}
.embed-h1{
  padding-top: 15px;
  padding-left: 35px;
  font-family: 'Bungee', cursive;
  text-align: center;
}
.flourish-embed{
  padding: 20px;
}

footer{
  background:black;
  align-items: baseline;
}

.copyright{
  text-align:center;
  padding: 10px;
  color: white;
}

.copyright-link{
  text-decoration:none;
  color: white;
  transition: all 0.3s ease-in-out;
}
 .copyright-link:hover{
  color: #fed900;
 }